.top-bar
  .container
    .ten.columns.offset-by-three.clearfix
      %header
        %h1 Lookup a VIN
      .row#fetch.clearfix
        %input#vin{:placeholder => "Enter a VIN", :type => "text"}
        %button#search.light-noise-040 Find this car
.container
  .ten.columns.offset-by-three.clearfix    
    .row
      .row.notice-holder
      .six.columns.alpha
        #vehicle
          .row
            %h5
              %span#year
              %span#make
              %span#model
          .row
            %h6.color#features
          %br  
          .row#usedRetail
            .four.columns.alpha
            .two.columns.omega
              %strong
          .row#usedPPV
            .four.columns.alpha
            .two.columns.omega
              %strong
          .row#usedTrade
            .four.columns.alpha
            .two.columns.omega
              %strong
        #vin-illustration
          &middot; XXXXX12343X123456 &middot;
      .four.columns.omega
        #vehicleImage
