.container
  .ten.columns.offset-by-three.clearfix
    %header
      %h1 Lookup a VIN
.container      
  .ten.columns.offset-by-three.clearfix
    .row#fetch.clearfix
      %input#vin{:placeholder => "Enter a VIN", :type => "text"}
      %button#search.light-noise-040 Find this car
    .row
      .six.columns.alpha   
        #vehicle
      .four.columns.omega
        #vehicleImage
